<div class="col-xs-12 doses_bloc">
  <% @cocktail.doses.each do |dose|%>
  <div class="col-xs-3 card-dose">
    <p>Ingredient: <%= dose.ingredient.name %></p>
    <p>Doses: <%= dose.description %></p>
    <div class="delete_dose">
      <%= link_to 'Delete',  dose_path(dose),
      method: :delete,
      class: 'btn btn-danger' %>
    </div>
  </div>
  <% end %>
</div>
