<div class="container cocktail">
  <h1><%= @cocktail.name %></h1>

  <%= render "list_doses" %>
  <div class="col-xs-12 bloc_btn">
    <div class="return_btn">
      <%= link_to 'Return to list',  cocktails_path, class: 'btn btn-success' %>
    </div>
    <div class="add_btn">
      <%= link_to 'Add dose',  new_cocktail_dose_path(@cocktail.id), class: 'btn btn-primary' %>
    </div>
  </div>


</div>
